 <!-- ======= Top Bar ======= -->
 <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope-fill"></i><a href="mailto:contactooyinbobenin21@gmail.com">contactooyinbobenin21@gmail.com</a>
            <i class="bi bi-phone-fill phone-icon"></i> +229 68-947-612
        </div>
        <div class="social-links d-none d-md-block">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/fifonsi.lokonon.1/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto">
            <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
        </h1>

        <nav id="navbar" class="navbar navbar-fixed-top">
            <ul>
                <li><a class="nav-link scrollto" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Produits</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="getstarted scrollto" href="/connexion">Connexion</a></li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                              <img src="assets/img/icone-user.jpeg" alt="" style="height: 60px; width: 60px;">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="/userinfo"> <i class="fa fa-info"></i> Mon profil</a></li>
                          <li><a class="dropdown-item" href="/panier"><i class="fa fa-shopping-cart"></i>Mon panier</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt"></i>Déconnexion</a></li>
                        </ul>
                      </div>
                </li>
            </ul>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<!-- End Header -->

<h3>------------------Boutique-----------------</h3>
<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h2>Nos Produits</h2>
        </div>
        <div class="row" style="margin-left: 50px;">
            <div  id="parent" *ngFor="let d of data" style="margin:20px;">
                <div id="image" style="border-radius: 20px;
                                       width: 180px;">
                    <img src="assets/img/produits/ananas-bisc.jpg" alt="Biscuit">
                </div>
                <div class="ml-8 ">
                    <h4 class="mb-0 ">{{d.name}}</h4><br>
                    <span class="price">{{d.montant}} fcfa</span>
                </div>
                <div style="margin-left: 150px; border-radius: 50%; "> 
                    <button type="button" class="btn" (click)="addToShop(d.id)"><i class="fa fa-plus" title="Ajouter au panier"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
