<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i><a href="mailto:contactooyinbobenin21@gmail.com">contactooyinbobenin21@gmail.com</a>
                <i class="bi bi-phone-fill phone-icon"></i> +229 68-947-612
            </div>
            <div class="social-links d-none d-md-block">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/fifonsi.lokonon.1/" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto">
                <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
            </h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Produits</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="getstarted scrollto" href="connexion">Connexion</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Bienvenue sur <span>Ope Oyinbo</span></h2>
                            <p class="animate__animated animate__fadeInUp">Ope Oyinbo est un site de valorisation et de commercialisation de l'<span style="color: yellow; font: Comic Cans MS  , bold;">Ananas de Pain de Sucre</span> du Benin.</p>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Lire Plus</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Un nouveau monde avec les ananas</h2>
                            <p class="animate__animated animate__fadeInUp">Avec l'ananas, ayez un corps sain, une digestion facile. En plus,<br> elle permet d'éviter les ballonnements, troubles digestifs et brûlures d'estomac.</p>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Lire Plus</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Des Ananas de Bonne Qualités</h2>
                            <p class="animate__animated animate__fadeInUp">Cultivé un peu partout au Bénin de manière naturel,les ananas de pain de sucre que nous vendons sont 100% naturels.</p>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Lire Plus</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services section-bg">
            <div class="container">

                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-laptop"></i></div>
                            <h4 class="title"><a href="">L'Ananas Pain de Sucre</a></h4>
                            <p class="description class1">L'ananas pain de sucre, aussi appelé "ananas bouteille", est peu feuillu et de forme allongée. Il possède une chair blanche très appréciée pour son goût de miel très sucré. Même mûr, il conserve sa couleur verte.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-briefcase"></i></div>
                            <h4 class="title"><a href="">Le saviez-vous ?</a></h4>
                            <p class="description class1">L'ananas provient d'une plante et non d'un arbre. Il s'agit d'une plante aux feuilles épineuses dont les fleurs développent un ensemble de baies qui grossissent jusqu'à former un même et unique fruit : l'ananas.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                            <h4 class="title"><a href="">Où produit-on l’ananas ?</a></h4>
                            <p class="description class1">
                                La production de l’ananas est concentrée dans la <strong>partie Sud du Bénin</strong>. Dans cette partie du Bénin, le taux d’humidité et le niveau de la pluviométrie sont élevés. Parmi les zones les plus favorables à l’accueil
                                de la culture de l’ananas, nous avons les <strong>départements</strong>, de l’<strong>Ouémé</strong>, ou encore du <strong>Plateau.</strong>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Featured Services Section -->

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>A propos de nous</h2>
                    <p>Nous sommes spécialiser dans la vente de l'ananas pain de sucre et de ses dérivés, l'une des spécialités de notre cher pays le Benin.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2">
                        <img src="assets/img/about.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h4 style="color:#97bf28">Les ananas sont une grande aide dans le développement du corps humain</h4>
                        <div style="text-align:justify; line-height:27px; font-weight: normal;">
                            Tout t'as commencé en 2010 lors d'un cours ,dont on va taire le nom, nous avons eu l'idée de valoriser l'un des atout de notre pays: notre ananas pain de sucre. Idée qui a pris beaucoup de temps à être mis sur pied. Nous avons pour objectifs:
                            <ul style="list-style-type: disc; margin-left: 20px;">
                                <li>de faire connaitre le Benin a travers nos ananas;</li>
                                <li>de vendre des ananas de qualité et bio;</li>
                                <li>de vous faire découvrir des produits fait à base d'ananas; </li>
                            </ul>
                        </div>
                        <div style="text-align:justify; font-weight: normal;"> 
                            Ce n'est pas une tâche facile mais nous nous efforçons de répondre à la clientele à tout moment.<br> Chez nous votre satisfaction est notre prioriter.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Us Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Nos Récents Articles</h2>
                    <p>De jours en jours, nous nous efforçons de vous servir les meilleurs produi faire à base d'ananas de Pain de sucre.<br>N'ayez crainte, vous servir; notre devoir.</p>
                </div>

                <div class="row no-gutters">


                    <div class="col-lg-4 col-md-6 content-item">

                        <div class="produit" style="width: 90%;height: 200px;">
                            <img src="assets/img/produits/ananas2_b0329b3c-ca63-40c4-93fc-9cb06b81a19a.jpg" style="width: 100%;height: 100%;object-fit: contain;" alt="">
                        </div>
                        <h4 style="margin: 0;">Ananas brute</h4><br>
                        <div style="height: 50px;width: 100%;" class="produit-inf row">
                            <div class="prix col-8">2000 FCFA</div>
                            <div class="dev col-4"><button class="pan btn btn-outline-success">Ajout</button></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item">

                        <div class="produit" style="width: 90%;height: 200px;">
                            <img src="assets/img/produits/Ananas-sech.jpg" style="width: 100%;height: 100%;object-fit: contain;" alt="">
                        </div>
                        <h4 style="margin: 0;">Ananas séché</h4><br>
                        <div style="height: 50px;width: 100%;" class="produit-inf row">
                            <div class="prix col-8">2000 FCFA</div>
                            <div class="dev col-4"><button class="pan btn btn-outline-success">Ajout</button></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item">

                        <div class="produit" style="width: 90%;height: 200px;">
                            <img src="assets/img/produits/ananas-cube.jpg" style="width: 100%;height: 100%;object-fit: contain;" alt="">
                        </div>
                        <h4 style="margin: 0;">Cube d'ananas</h4><br>
                        <div style="height: 50px;width: 100%;" class="produit-inf row">
                            <div class="prix col-8">2000 FCFA</div>
                            <div class="dev col-4"><button class="pan btn btn-outline-success">Ajout</button></div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Why Us Section -->

        <!-- ======= Our Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container">

                <div class="section-title">
                    <h2>Nos Clients</h2>
                    <p>Nous essayons de vendre un peu partout nos produits. Vous pouvez voir ici les entreprises qui nous font confiance</p>
                </div>

                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>
        <!-- End Our Clients Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Equipe</h2>
                    <p>Pour votre bien-être, nous nous sommes entouré de personnes spécialisé dans ce domaine.<br>Laissez nous vous les présenter;</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="assets/img/team/team-1.jpg" alt="">
                            <h4>Arnaud White</h4>
                            <span>Chief Executive Officer</span>
                            <p>
                                Une personne simple et ouverte d'esprit qui est attaché à ses valeurs. Il a été l'un des pilliers de l'entreprise OpeOyinbo.
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="assets/img/team/team-2.jpg" alt="">
                            <h4>Ziadath Jhinson</h4>
                            <span>Product Manager</span>
                            <p>
                                Avec elle, vous n'avez qu'une seule chose à faire; travailler. N'ayez crainte, elle sait se montrer amicale.
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="assets/img/team/team-3.jpg" alt="">
                            <h4>Fidèle Anderson</h4>
                            <span>CTO</span>
                            <p>
                                Il a été le coordonateur du travil établi tout au long de la création de l'entreprise. Une personne simple, souriante, qui n'espère qu'une seule chose; gagnez plus. </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Team Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Vous avez des préocupations ou des idées innovantes que vous voulez partarger avec nous? Pas de soucis, envoyez nous un email pour nous expliquer tout en détails..</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+1 5589 55488 55s</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0"
                                style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6 mt-3 mt-md-0">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Ope Oyinbo</h3>
            <p>Avec les ananas,nous pourrons aller plus loin.</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Ope Oyinbo</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
               Designed by <a href="https://bootstrapmade.com/">IFRI</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>