<div class="container-fluid" id="contain">
  <div class="form-responsive">
    <form [formGroup]="enrolForm" (ngSubmit)="enrolUser()">
      <div class="form-title"  >
        <img src="assets/img/logo.png" alt="icone-user">
        <h3>Inscription</h3>
      </div>
      <div>
        <label>Nom</label>
        <p><input type="text" class="form-control" formControlName="lastName"></p>
      </div>
      <div>
        <label for="emailuser">Prénoms</label>
        <p><input type="text" class="form-control" formControlName="firstName"></p>
      </div>
      <div>
        <label for="emailuser">Nom d'utilisateur</label>
        <p><input type="text" class="form-control" formControlName="userName"></p>
      </div>
      <div>
        <label>Adresse e-mail</label>
        <p><input type="text" class="form-control" formControlName="email"></p>
      </div>
      <div>
        <label>Numéro de Téléphone</label>
        <p><input type="text" class="form-control" formControlName="phone"></p>
      </div>
      <div>
        <label>Mot de passe</label>
        <p><input type="password" class="form-control" formControlName="password"></p>
      </div>
      <div>
        <label>Confirmer le mot de passe</label>
        <p><input type="password" class="form-control" formControlName="cpassword"></p>
      </div>
      <div> 
        <button type="submit" class="btn">S'inscrire</button> 
      </div>
      <div>
        <label>Vous avez déja un compte?</label>
        <a href="/connexion">Se connecter</a>
      </div>
    </form>
  </div>
</div>