<div class="sidebar">
    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    	<div class="sidebar-wrapper">
           <!-- <div class="logo bg-light">
                <a href="#" class="simple-text">
                   <img src="assets/img/logo.png" alt="logo">
                </a>
            </div>-->

            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                        <i class="fa fa-dashboard"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="">
                        <i class="pe-7s-user"></i>
                        <p>Gestions des catégories</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-note2"></i>
                        <p>Gestion des produits</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Gestions des utilisateurs</p>
                    </a>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>