<div class="page-wrapper">
    <aside>
        <div class="links">
            <div class="link1">
                <a href="/admincat"> <i class="fa fa-list-alt"></i> Gestion des catégories</a>
            </div>
            <div style="height: 1px; background-color: black;"></div>
            <div class="link2">
                <a href="/adminpage"> <i class="fab fa-product-hunt"></i> Gestion des produits</a>
            </div>
            <div style="height: 1px; background-color: black;"></div>
            <div class="link3">
                <a href="#"> <i class="fa fa-group"></i> Gestion des utilisateurs</a>
            </div>
            <div style="height: 1px; background-color: black;"></div>
            <div class="link4">
                <a href="#"> <i class="fa fa-envelope"></i> Messages</a>
            </div>
        </div>
    </aside>
</div>