<body>
    <!-- ======= Top Bar ======= -->
 <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope-fill"></i><a href="mailto:contactooyinbobenin21@gmail.com">contactooyinbobenin21@gmail.com</a>
            <i class="bi bi-phone-fill phone-icon"></i> +229 68-947-612
        </div>
        <div class="social-links d-none d-md-block">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/fifonsi.lokonon.1/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center" style="padding-bottom: -50px;">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto">
            <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
        </h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Produits</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="getstarted scrollto" href="connexion">Connexion</a></li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                              <img src="assets/img/icone-user.jpeg" alt="" style="height: 60px; width: 60px;">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="/userinfo"> <i class="fa fa-info"></i> Mon profil</a></li>
                          <li><a class="dropdown-item" href="/panier"><i class="fa fa-shopping-cart"></i>Mon panier</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt"></i>Déconnexion</a></li>
                        </ul>
                      </div>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<!-- End Header -->
 <div class="container rounded bg-white mt-5 mb-5" style="border: 2px solid black; width: 800px;">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"> <img class="rounded-circle mt-5" width="150px" src="assets/img/icone-user.jpeg"><span class="font-weight-bold">{{currentUser.userName}}</span><span class="text-black-50">{{currentUser.email}}</span><span> </span></div>
        </div>
        <div class="col-md-8 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right"> Moifier votre profil</h4>
                </div>
             <form [formGroup]="modiForm" (ngSubmit)="updateMe()">
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nom</label><input type="text" class="form-control" placeholder="Nom" formControlName="lastName"></div>
                    <div class="col-md-6"><label class="labels">Prénoms</label><input type="text" class="form-control"placeholder="Prénoms" formControlName="firstName"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Numéro de téléphone</label><input type="text" class="form-control" placeholder="Numéro de téléphone"formControlName="phone"></div>
                    <div class="col-md-12"><label class="labels">Adresse e-mail</label><input type="text" class="form-control" placeholder="Adresse e-mail" formControlName="email"></div>
                    <div class="col-md-12"><label class="labels">Nom d'utilisateur</label><input type="text" class="form-control" placeholder="Nom d'utilisateur"formControlName="userName"></div>
                    <div class="col-md-6 mt-2"><button class="btn btn-info" (click)="clickModif()" >Modifier mot de passe</button></div>
                    <div class="col-md-12" *ngIf="modif===1"><label class="labels">Ancien mot de passe</label><input type="text" class="form-control" placeholder="Ancien mot de passe"formControlName="oldPass"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6" *ngIf="modif===1"><label class="labels">Nouveau mot de passe</label><input type="text" class="form-control" placeholder="Nouveau mot de passe" formControlName="newPass"></div>
                    <div class="col-md-6" *ngIf="modif===1"><label class="labels">Confirmer nouveau mot de passe</label><input type="text" class="form-control"placeholder="Confirmer mot de passe"formControlName="cnewPass"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary" type="submit">Save Profile</button></div>
             </form>  
            </div>
        </div>
    </div>
</div>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Ope Oyinbo</h3>
            <p>Avec les ananas,nous pourrons aller plus loin.</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Ope Oyinbo</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
               Designed by <a href="https://bootstrapmade.com/">IFRI</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</body>
