<div class="container-fluid" id="contain">
    <div class="form-responsive">
      <form [formGroup]="addForm" (ngSubmit)="clickButton()">
        <div class="form-title"  >
          <img src="assets/img/logo.png" alt="icone-user">
          <h3>Enregistrer un produit</h3>
        </div>
        <div>
          <label>Nom du produit</label>
          <p><input type="text" class="form-control" formControlName="name"></p>
        </div>
        <div>
          <label>Prix du produit</label>
          <p><input type="text" class="form-control" formControlName="prix"></p>
        </div>
        <div>
          <label>Catégorie</label>
          <p><select formControlName="category" class="form-control">
            <option value="us" selected disabled>Catégories</option>
            <option value="{{c.id}}" *ngFor="let c of cats"> {{c.name}} </option>
        </select></p>
        </div>
        <div>
          <label>Description du produit</label>
          <p><input type="text" class="form-control" formControlName="description"></p>
        </div>
        <div>
          <label>Image du produit</label>
          <p><input type="file" class="form-control" formControlName="image"></p>
        </div>
        <div> 
          <button type="submit" class="btn">Enregistrer</button> 
        </div>
      </form>
    </div>
  </div>