<div class="container-fluid" id="contain">
  <div class="form-responsive">
    <form [formGroup]="connectForm"  (ngSubmit)="signin()">
      <div class="form-title">
        <img src="assets/img/logo.png" alt="icone-user">
        <h3>Connexion</h3>
      </div>
      <div>
        <label for="emailuser">Nom d'utilisateur ou Adresse e-mail</label>
        <p><input type="text" class="form-control" formControlName="emailuser"></p>
      </div>
      <div>
        <label for="emailuser">Mot de passe</label>
        <p><input type="password" class="form-control" formControlName="pass"></p>
      </div>
      <div> 
        <label for=""> <a href="http://">Mot de passe oublié?</a> </label>
        <button type="submit" class="btn">Se connecter</button> 
      </div>
      <div>
        <label>Pas encore de compte?</label>
        <a href="/inscription">S'inscrire</a>
      </div>
    </form>
  </div>
</div>